@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@200;400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=Tektur:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins";
    background: #DDD0C8;
    color: #323232;
}

 .question p{
    font-weight: 600;
 }


.ham {
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
}

.ham-container{
    /* border: 1px solid black; */
    height: 30px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.ham-container span{
    height: 2px;
    width: 100%;
    background: #000;
}

header{
    width: 90%;
    /* border: 1px solid red; */
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
}
.nav{
    display: flex;
    list-style: none;

}

.ham-nav{
    display: none;
}

.navlist{
    margin: 0 1.5em;
    
}

.navlink{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.navlink:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.container{
    width: 90%;
    border: 1px solid grey;
    margin: 2em auto;
    margin-top: 5em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

input{
    margin-left: 2em;
}
.check-container{
    /* border: 1px solid black; */
    width: 90%;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.check, .next{
    padding: .4em;
}
.container p {
    width: 100%;
    text-align: center;
}


.timer{
    width: 90%;
    margin: 1.5em auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid blue;
    visibility:hidden;
}



@media screen and (max-width: 675px){
    



    #nav-big{
        display: none;
    }
    .ham-container{
        display: flex;
        position: relative;
    }
    .ham-nav{
        display: flex;
        visibility: hidden;
        position: absolute;
        top: 80px;
        right: 30px;

    }
}

.clicked {
    visibility: visible;
}