@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@200;400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=Tektur:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins";
    background: #DDD0C8;
    color: #323232;
}

 .question p{
    font-weight: 600;
 }


.ham {
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
}

.ham-container{
    /* border: 1px solid black; */
    height: 20px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.ham-container span{
    height: 2px;
    width: 100%;
    background: #000;
    transition: transform 0.3s ease-in-out;

    
}

.ham-container.close .bar:nth-child(1) {
    transform: translateY(8.5px) rotate(45deg);
}

.ham-container.close .bar:nth-child(2) {
    transform: scaleX(0);
}

.ham-container.close .bar:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg);
}

header{
    width: 90%;
    /* border: 1px solid red; */
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
}
.nav{
    display: flex;
    list-style: none;

}

.ham-nav{
    display: none;
    transition: all .3s linear;
}

.navlist{
    margin: 0 1.5em;
    
}

.navlink{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.navlink:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.container{
    border-radius: 0px 10px 46px 10px;
        -webkit-border-radius: 0px 10px 46px 10px;
        -moz-border-radius: 0px 10px 46px 10px;
    overflow-wrap: normal;
    width: 90%;
    border: 1px solid grey;
    margin: 2em auto;
    margin-top: 5em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

input{
    margin-left: 2em;
}
.check-container{
    /* border: 1px solid black; */
    width: 90%;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.check{
    display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        font-weight: 600;
        color: rgb(72, 76, 122);
        font-size: 14px;
        height: 38px;
        padding: 8px 24px;
        border-radius: 50px;
        background-image: linear-gradient(180deg, #fff, #f5f5fa);
        box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
        transition: all .2s ease-out;
    
        
}
.check:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}
.container .question p {
    width: 100%;
    text-align: center;
    
}

.category{
    width: 90%;
    margin: 0 auto;
}
.category button{
    display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: box-shadow 0.15s ease, transform 0.15s ease;
        will-change: box-shadow, transform;
        background: #FCFCFD;
        box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        height: 48px;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 6px;
        color: #36395a;
        transition: box-shadow 0.15s ease, transform 0.15s ease;
    
        
}

.category button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.category button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}


.result-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.result-container img{
    height: 22px;
}


.timer{
    width: 90%;
    margin: 1.5em auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid blue;
    visibility:hidden;
}

.checked{
    background-color: black;
    color: white;
    font-weight: 700;
}

footer{
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    border-top: .5px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    margin: 0 .5em;
    font-size: 33px;
    cursor: pointer;
}
.socials-con{
    display: flex;

}

footer p{
    font-weight: 700;
}

@media screen and (max-width: 675px){
    



    #nav-big{
        display: none;
    }
    .ham-container{
        display: flex;
        position: relative;
    }
    .ham-nav{
        display: flex;
        visibility: hidden;
        position: absolute;
        top: 80px;
        right: 30px;
        background: #fff;
        z-index: 1;

    }
}

.clicked {
    visibility: visible;
}